
#root{
    -fx-padding: 5;
    -fx-background-color: #121c86;
}

.fundo{
    -fx-background-color:  #121c86;
}



.redondo:hover{
    -fx-cursor: hand;
    -fx-background-color: rgb(193, 193, 193);
    -fx-background-radius: 150;

}


.clicado:hover{
    -fx-cursor:text;
}

.botao{
    -fx-border-radius: 150;
    -fx-border-width: 4;
    -fx-border-color: white;
    -fx-background-radius: 150;
    -fx-background-color: #121c86;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;

}

.botaomenu{
    -fx-border-radius: 150;
    -fx-border-width: 4;
    -fx-border-color: white;
    -fx-background-radius: 150;
    -fx-background-color: #121c86;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-size: 25;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;

}

.textFields{
    -fx-border-radius: 150;
    -fx-border-width: 4;
    -fx-border-color: white;
    -fx-background-radius: 150;
    -fx-background-color:  #121c86;
    -fx-cursor: text;
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
    -fx-focus-traversable: false;
}

.botao:hover{
    -fx-background-color: #2023d7;
}


.titulos{
    -fx-text-fill: white;
    -fx-font-size: 57;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
}

.botaotexto{
    -fx-background-color:  #121c86;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
}

.botaotexto:hover{
    -fx-text-fill: #686adc;
}

.fundologo{
    -fx-background-image: url(/image/LOGO.png);
}

.rb:hover{
    -fx-cursor: hand;
}

