
#root{
    -fx-padding: 5;
    -fx-background-color: #121c86;
}

.fundo{
    -fx-background-color:  #121c86;
}

.redondo:hover{
    -fx-cursor: hand;
    -fx-border-radius: 150;
    -fx-border-color: #121c86;
    -fx-border-width: 7;
    -fx-wrap-text: "Eae";
}

.ab{
    -fx-font-size: 12;
    -fx-translate-x: 24;
    -fx-translate-y: 24;
    -fx-text-fill: rgba(18, 28, 134, 0.91);
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
}

.abVazio{
    -fx-font-size: 12;
    -fx-translate-x: 24;
    -fx-translate-y: 24;
    -fx-text-fill: rgba(18, 28, 134, 0);
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
}

.clicado:hover{
    -fx-cursor: closed_hand;
    -fx-border-radius: 150;
    -fx-border-color: #fdfdfd;
    -fx-border-width: 7;
}

.botao{
    -fx-border-radius: 150;
    -fx-border-width: 4;
    -fx-border-color: white;
    -fx-background-radius: 150;
    -fx-background-color: #121c86;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;

}

.botaoNoJogo{
    -fx-border-radius: 150;
    -fx-border-width: 3;
    -fx-border-color: white;
    -fx-background-radius: 150;
    -fx-background-color: #121c86;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-size: 13;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
}

.botaoNoJogo:hover{
    -fx-background-color: #2023d7;
    -fx-font-size: 11;
}

.botaoNoJogo:selected{
    -fx-background-color: #2023d7;
    -fx-font-size: 11;
}

.botaomenu{
    -fx-border-radius: 150;
    -fx-border-width: 4;
    -fx-border-color: white;
    -fx-background-radius: 150;
    -fx-background-color: #121c86;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-size: 25;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
}

.botaomenu:hover{
    -fx-background-color: #2023d7;
    -fx-font-size: 22;
}

.textFields{
    -fx-border-radius: 150;
    -fx-border-width: 4;
    -fx-border-color: white;
    -fx-background-radius: 150;
    -fx-background-color:  #121c86;
    -fx-cursor: text;
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
    -fx-focus-traversable: false;

}


.logojogo{
    -fx-font-size: 130;
    -fx-font-family: "Arial Black";
}

.logojogofundo{
    -fx-font-size: 75;
    -fx-font-family: "Arial Black";
    -fx-text-fill: #2023d7;
}

.botao:hover{
    -fx-background-color: #2023d7;
    -fx-font-size: 15;
}


.titulos{
    -fx-text-fill: white;
    -fx-font-size: 57;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
}

.botaotexto{
    -fx-background-color:  #121c86;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
}

.botaotexto:hover{
    -fx-text-fill: #686adc;
}

.
.rb:hover{
    -fx-cursor: hand;
}

.alerta{
    -fx-background-color: #2023d7;
}

.alerta:header *.header-panel{
    -fx-background-color: #121c86;

}

.alerta> *.content.label{
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
}

.alerta:header *.header-panel *.label{
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
}

.alerta> *.button-bar *.button{
    -fx-pref-height: 5;
    -fx-border-radius: 150;
    -fx-border-width: 2;
    -fx-border-color: white;
    -fx-background-radius: 150;
    -fx-background-color: #121c86;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-size: 10;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
}

.alerta:hover> *.button-bar *.button{
    -fx-border-radius: 150;
    -fx-border-width: 2;
    -fx-border-color: white;
    -fx-background-radius: 150;
    -fx-background-color: #2023d7;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-size: 8;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;

}

.radiusRight{
    -fx-border-radius: 150;
    -fx-background-radius: 150;
    -fx-border-width: 4;
    -fx-font-size: 22;
    -fx-border-color: white;
    -fx-background-color: #121c86;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
}

.radiusLeft{
    -fx-border-radius: 150;
    -fx-background-radius: 150;
    -fx-border-width: 4;
    -fx-font-size: 22;
    -fx-border-color: white;
    -fx-background-color: #121c86;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
}

.radiusRight:hover{
    -fx-translate-x: 195;
    -fx-cursor: hand;
}

.radiusLeft:hover{
    -fx-translate-x: -195;
    -fx-cursor: hand;
}

.radiusLeft:pressed{
    -fx-background-color: #2023d7;
}

.chkbox:pressed{
    -fx-cursor: hand;
}


